<div class="container">
  <div class="contenido">!DESCUBRE EL SABOR</div>
  <div class="contenido">MÁS BRUTAL DE</div>
  <div class="contenido">CHIQUINQUIRÁ!</div>
  <button class="contenido boton">VER MENÚ</button>
</div>
<div>
  <div class="caja1">
    <div class="caja1-1">PRINCIPALES PRODUCTOS</div>
  </div>
  <div class="caja2">
    <img src="/rellena.png" alt="Arepa rellena de carne y pollo en Chiquinquirá">
    <div class="caja2-1">
      <div class="caja2-1-1"><b>AREPA MIXTA</b></div>
      <div class="caja2-1-1">carne y pollo desmechados, queso, huevo de codornis
          salsas y arepa dorada con mantequilla
      </div>
      <div class="caja2-1-1"><b>$ 12.000</b></div>
    </div>
  </div>
  <div class="caja2">
    <img src="/burguesa.png" alt="hamburguesa rellena de carne y pollo en Chiquinquirá">
    <div class="caja2-1">
      <div class="caja2-1-1"><b>AREBURGUER (tambien en pan)</b></div>
      <div class="caja2-1-1">carne artesanal, vegetales, queso, huevo de codornis, salsas y arepa dorada con mantequilla
      </div>
      <div class="caja2-1-1"><b>$ 12.000</b></div>
    </div>
  </div>
  <div class="caja2">
    <img src="/salchi.png" alt="salchipapas con papa a la francesa en Chiquinquirá">
    <div class="caja2-1">
      <div class="caja2-1-1"><b>SALCHIPAPAS</b></div>
      <div class="caja2-1-1">salchicha, papa a la francesa, salsas y huevo de codornis 
      </div>
      <div class="caja2-1-1"><b>$ 11.000</b></div>
    </div>
  </div>
</div>